project:
  type: book

book:
  title: "scripting-ea"
  author: "Norah Jones"
  date: "21/10/2025"
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - references.qmd

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt



